h1{
    color: blue;
    background-color: aqua;
}
.first{
    color: rgb(226, 43, 150);
    }
.first:hover{
    color: crimson;
    background-color: aquamarine;
    }
h3:hover{
    color: red;
    
}
h1:hover{
    background-color: lightgreen;
    color: rgb(226, 43, 150);
}
a:visited{
    color: rgb(226, 43, 150);
}
a:hover{
    background-color: aqua;
}
.one:focus{
    color: rgb(255, 0, 230);
    }
    li:first-child{
        color: rgb(255, 0, 230);
    }
    li:last-child{
        background-color: gray;
    }
    li:nth-child(2n){
        background-color: aqua;
    }
    li:nth-child(4n){
        background-color: gold;
    }
    h3::before{
        content: "Hello "  ;
    }
    h3::after{
        content: " Bye " ;
    }
    .d::before{
        content: " Hello i want to go denmark ";
    }
    section div {
        border: 5px dashed red;
        height: 150px;
        width: 230px;
    }
    div{
        background-color: aquamarine;
    }
    #boy{
        position: relative;
        left: 30px;
        
        z-index: 80px;
    }
    #ring{
        position: relative;
        
        z-index: 20;
    }